.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.guest-list {
  padding-left: 200px;
}

.guest-div {
  border: 10 0 10 0px;
  width: 200px;
  height: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100x;
  opacity: 0.9;
  border-radius: 5px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div1-style {
  text-align: center;
}

.div1-style.h1 {
  font-size: 1.5em;
}
